<div class="block">
	<%= form_tag(speakcommand_index_path, method: 'post' ,remote: 'true') do %>
	    <%= hidden_field_tag :commandLine , " "  ,class: 'speachListen' %></br>
	    <%= hidden_field_tag :istrue , "" ,class: 'istrue'%></br>
	    <%= button_tag "決鬥吧！～" ,:type => 'button' ,class: 'submit'%>
	    <div class="audio-part"></div>
	<%end%>
	<div class="pic"> <img  class="img" src= "/YoGi/hqdefault.jpg"></div>
	<div class="speach"></div>
</div>
<script>
recognition = new webkitSpeechRecognition();
recognition.start();
$(document).ready(function(){
	$(".submit").click(function(){speak();});
});
function speak(){
    var interim_transcript = '';
    recognition.lang = "cmn-Hant-TW";
	recognition.continuous = true;
	recognition.interimResults = false; 
	recognition.onresult = function(event) { 
		var interim_transcript = '',
		    stringASCII = "";
	  	    if(event.results[0].isFinal == true){
	  	    	console.log(event);
	  	        var  stringLength = 4;
	  	    	interim_transcript = event.results[0][0].transcript;
	  	    	$(".speach").append("<span>"+interim_transcript+"</span>")
	  	    	for (i = 0 ; i <  stringLength ; i ++ ){
	  	    		stringASCII+= "\\" + interim_transcript.charCodeAt(i).toString(16);
	  	    	}
	  	    	if(stringASCII.match(/\\904a\\6232\\958b\\59cb/) != null){ 
			      		console.log("true");
			      		$(".speachListen").val("on");
			      		$(".istrue").val("1");
			      		$(".audio-part").append("<audio autoplay><source src=\"/speakcommand/game_boy_long.ogg\" type=\"audio/ogg\"/></audio>");
			      		console.log("hello");
			      		$(".img").replaceWith("<div class=\"pic-eye\"></div><img src= \"/YoGi/eye.jpg\" width=\"480\">");
			      		$(".pic-eye").animate({opacity: 0},500)
			      		recognition.stop(); 
	  			}
	  			else{
	  				console.log("false");
			      		$(".speachListen").val("close");
			      		recognition.stop();
			      		$(".istrue").val("0");	
	  			}

	  			var commandLine = $(".speachListen").val(),
					istrue = $(".istrue").val();
					console.log('heeeo',commandLine, istrue);
				$.ajax({
					    url: "/speakcommand/index",
					    type: "POST",
					    data: {commandLine: commandLine, 
					            istrue: istrue},
					    success: function(resp){ }
					});
		}
	}
}
</script>